@font-face {
  font-family: proxima_nova_bold;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proxima_nova_bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold.woff") format("woff"), url("../fonts/proxima_nova_bold.ttf") format("truetype"), url("../fonts/proxima_nova_bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: proxima_nova_regular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proxima_nova_regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_regular.woff") format("woff"), url("../fonts/proxima_nova_regular.ttf") format("truetype"), url("../fonts/proxima_nova_regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
h1 {
  font-family: proxima_nova_bold; }
  h1.sm {
    font-size: 18px; }

h2 {
  font-family: proxima_nova_bold; }
  h2.sm {
    font-size: 18px; }

h3 {
  font-family: proxima_nova_bold; }
  h3.sm {
    font-size: 18px; }

h4 {
  font-family: proxima_nova_bold; }
  h4.sm {
    font-size: 18px; }

h5 {
  font-family: proxima_nova_bold; }
  h5.sm {
    font-size: 18px; }

h6 {
  font-family: proxima_nova_bold; }
  h6.sm {
    font-size: 18px; }

.btn {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
  .btn.light-blue-line {
    background-color: #e9f1f9;
    border: 1px solid #c7d4e0;
    color: #336699; }
    .btn.light-blue-line:hover {
      background-color: #c7d4e0;
      color: #fff; }
  .btn.light-green-line {
    background-color: #eff6ea;
    border: 1px solid #b1de96;
    color: #6bba3b; }
    .btn.light-green-line:hover {
      background-color: #b1de96;
      color: #fff; }
  .btn.green-line {
    background-color: #6bba3b;
    border: 1px solid #5ea433;
    color: #fff; }
    .btn.green-line:hover {
      background-color: #b1de96;
      color: #fff; }
  .btn.blue-line {
    background-color: #266bae;
    border: 1px solid rgba(34, 79, 123, 0.4);
    color: #fff; }
    .btn.blue-line:hover {
      background-color: #24588B;
      color: #fff; }
  .btn.light-grey {
    background: #eee;
    padding-top: 10px; }
    .btn.light-grey.link {
      border: 1px solid #E5E5E5;
      text-transform: uppercase;
      font-family: proxima_nova_bold;
      font-size: 12px; }
  .btn.md {
    height: 34px;
    min-width: 100px;
    font-size: 14px;
    line-height: 1.8; }
  .btn.lg {
    height: 50px;
    font-size: 28px;
    line-height: 1.7; }
  .btn i {
    margin-right: 10px; }

form input, form select, form textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
form .invalid {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px; }
form.form-horizontal .form-inline .form-group {
  margin-left: 0;
  margin-right: 0; }
form.form-horizontal .form-inline .form-control {
  width: 100%; }

.filter {
  margin-bottom: 15px; }

header {
  background-color: #163F67; }
  header .logo a {
    color: #fff;
    font-size: 18px; }

@media only screen and (min-width: 768px) {
  .filter.collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important; } }
@media only screen and (min-width: 992px) {
  .navbar {
    min-height: 45px; }

  nav ul > li {
    width: auto; } }
@media only screen and (max-width: 992px) {
  header .logo {
    margin: 12px 0; }
  header .navbar-toggle {
    margin: 10px 0; } }
.tableShiptalk .multi-head thead .yellow {
  background-color: #EAF1DD; }
.tableShiptalk .multi-head thead .blue {
  background-color: #DAEEF3; }

.red {
  color: #E78282; }

.blue {
  color: #24588B; }

.green {
  color: #6BBA3B; }

/*# sourceMappingURL=admin.css.map */
