@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    var success = TempData["success"] != null;
    var rID = TempData["rID"];

}


<div class="container">
    <div class="inner-main tab-content">

        <!-- My user content -->
        <div role="tabpanel" class="tab-pane active" id="myUsers">

            <h2>Resources</h2>
            <div class="col-sm-11 col-md-10 col-centered">
                <div class="block white clearfix row">
                    <section>
                        <div class="col-sm-10 content col-centered">
                            <h2>Resource Profile</h2>
                            @if (success)
                            {

                                if (User.IsInRole("shipcenter") || User.IsInRole("shipdirector") || User.IsInRole("shipadmin") || User.IsInRole("acladmin"))
                                {
                                    var myNode = Umbraco.Content(rID);
                                    var linkUrl = myNode.Url;

                                    <p>
                                        Your resource has been published. Thank you for contributing to the 
                                        SHIP Resource Library! To review your resource in the library,<a href="@linkUrl" class="btn btn-link"> click here.</a>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        Your resource has been uploaded and is awaiting approval from your SHIP director or SHIP administrator.
                                        You will receive an email from info@shiptacenter.org after it has been reviewed, notifying you of the status.
                                    </p>
                                }
                            }
                            else
                            {
                                   <!-- you are calling the get and then it is redirected to a post page -->
                                @Html.Action("RenderAddResource", "ResourceSurface")

                            }
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>