@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
	
}

 			
		<div class="main">
			<div class="container">
				<div class="inner-main">
					
					<div class="col-sm-8 col-md-9 col-xs-12">
						<div class="row">
							<div class="block white clearfix">
								@*@{ Html.RenderPartial("feature"); }*@

                               @Html.Action("RenderFeatureTopRecent", "FeatureSurface")
							</div>
						</div>
					</div>
						
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="row-xs">
                        	<div class="block blue">
								@{ Html.RenderPartial("featurerightnav"); }
							</div>
						</div>
					</div>
								
				 </div>
			</div>
		</div>