@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    var success = TempData["success"] != null;
}

<div class="main">
    <div class="container">
        <div class="inner-main">
            @if (success)
            {

                <p>
                    Success!, Your password has been successfully changed.  You may login any time using the new password. 
                    <br/> <br/>
                    <a href="/login"> Click here to login </a> 
                </p>
            }
            else
            {

                @Html.Action("RenderResetPassword", "AuthSurface")
            }

        </div>
    </div>
</div>