
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}


<div class="main">
    <div class="container">
        @Html.Action("RenderSearchResource", "ResourceSurface")

    </div>
</div>




